.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    .logo {
        margin: 0 32px 0 0;
        font-size: 2em;
    }

    ul {
        flex-grow: 1;
        display: flex;
        list-style: none;
        align-items: center;
        li {
            display: block;
            padding-right: 24px;
            a{
                white-space: nowrap
            }
            img{
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
        }
        li:nth-last-child(-n + 1) {
            padding: 0;
        }
    }

    @include for-mobile-layout {
        height: 70px;
        .search-form {
            display: none;
        }
    }
    @include for-narrow-layout {
        button {
            display: none;
        }
    }
    @include for-normal-layout {
        button {
            display: inline;
        }
    }
//     @include for-wide-layout {
//     }
// 
}
