$text_logo_color_light: #ffffffff;
$text_logo_color_dark: #404145ff;

$little_elements_green: #1dbf73ff;
$global_search_icon_bg: #232426ff;

// trusted by banner
$trusted_by_bg: #f5f5f5ff;
$trusted_by_txt_color: #c0c0c4ff;

$header_footer_icons_color: #74767e;


