.main-layout {
    display: grid;
    grid-template-columns: $layoutPaddingMobile 1fr $layoutPaddingMobile;
    

    >*:not(.full){
        grid-column: 2;
        max-width: 1400px;
    }

    >*.full {
        grid-column: 1 / -1;
    }
    
    @include for-narrow-layout {
        grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, 1400px)
      minmax($layoutPadding, 1fr)
    }
}