
$layoutPadding: 32px;
$layoutPaddingMobile: 24px;

// $break-mobile: 600px;
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1160px;

$border-package-1: 1px solid #e4e5e7;
$border-package-2: 1px solid #dadbdd;
